{% extends "base.twig" %}

{% block content %}
    
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Header -->
        <header id="portfolio">
            <a href="#"><img src="public/uploads/me.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
            <div class="w3-container">
                <h1><b>Emmanuel Lucio Urbina</b></h1>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <span class="w3-margin-right">Proyectos:</span>
                    <button class="w3-button w3-purple">Web</button>

                </div>
            </div>
        </header>

        <!-- First Photo Grid-->
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="public/projects/inventario1.png" alt="Norway" style="width:100%" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                    <p><b>Inventario</b></p>
                    <p>Sistema para gestionar inventarios pequeños:
                        <br>
                        Permite:
                        <ul>
                            <li>Registrar entradas</li>
                            <li>Registrar salidas</li>
                            <li>Imprimir reportes de los eventos</li>
                        </ul>
                        <br>
                    </p>
                    <p>
                        Tecnologias: <br>
                        <span class="w3-tag w3-small w3-blue">PHP MVC</span>
                        <span class="w3-tag w3-small w3-yellow">JS</span>
                        <span class="w3-tag w3-small w3-purple">Bootstrap</span>
                    </p>
                    <p><a href="https://inventario-apt.herokuapp.com/usuario-nuevo" target="_blank">URL</a></p>
                </div>
            </div>

        </div>

        <hr>

        <!-- Images of Me -->
        <div class="w3-row-padding w3-padding-16" id="about">
            <div class="w3-col m6">
                <img src="public/uploads/me.jpg" alt="Me" style="width:100%">
            </div>

        </div>

        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <h4><b>Hola!</b></h4>
            <p>
                Mi nombre es Emmanuel Lucio Urbina, soy desarrollador web (php) independiente, trabajando duro para
                brindar software eficiente. Me apasionan los videojuegos y cocinar (y no se diga comer).
            </p>
            <hr>

            <h4>Conocimientos</h4>
            <!-- Progress bars / Skills -->
            <p>PHP</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:75%">75%</div>
            </div>
            <p>Js</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:75%">75%</div>
            </div>
            <p>MVC</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:70%">70%</div>
            </div>
            <p>Scrum</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:70%">70%</div>
            </div>
            <p>Git</p>
            <div class="w3-grey">
                <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:60%">60%</div>
            </div>

            <hr>
            <!-- Contact Section -->
            <div class="w3-container w3-padding-large w3-grey">
                <h4 id="contact"><b>Contacto</b></h4>
                <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
                    <div class="w3-third w3-dark-grey">
                        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
                        <p>emmanuelluur@gmail.com</p>
                    </div>
                    <div class="w3-third w3-teal">
                        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
                        <p>Matamoros Tamps. México</p>
                    </div>
                    <div class="w3-third w3-dark-grey">
                        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
                        <p>+52 868-246-96-43</p>
                    </div>
                </div>
                <hr class="w3-opacity">
                <form action="send-mail" target="_blank" method ="post" id = "frmContact">
                    <div class="w3-section">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" name="Name" required>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="text" name="Email" required>
                    </div>
                    <div class="w3-section">
                        <label>Message</label>
                        <input class="w3-input w3-border" type="text" name="Message" required>
                    </div>
                    <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send
                        Message</button>
                </form>
            </div>

            <div class="w3-black w3-center w3-padding-24">Emmanuel</div>

            <!-- End page content -->
        </div>
{% endblock %}